button.bell{
    position: fixed;
    right:15%;
    top: 3%;
    width: 30px;
    height: 30px;
    margin: 0 10px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: #fff;
    box-shadow: 0 0 0 1px #fff;
    transition: all 0.3s ease;
}

.notification{
    position: fixed;
    right:20%;
    top: 10%;
    width: 150px;
    height: 60px;
    overflow: visible;
}
.requests{
    position:relative;
    width: 200px;
    height: 60px;
    list-style: none;
    background-color: rgb(157, 152, 152);
    color: #000000;
    font-size: 30px;
    display:relative;
    vertical-align: middle;
    justify-content: left;
    align-items: left;
    overflow: visible;

}
.pending-request{
    margin-left: 10px;
    vertical-align: middle;
}
.accept{
    position: absolute;
    width: 50px;
    height: 30px;
    font-size: 15px;
    right: 0%;
    top: 25%;
}