
.nav-menu {
  top: 70px;
  overflow-y: scroll;
  overflow-x: visible;
  transition: 850ms;
  z-index: 1000;
  height: 90vh;
  width: 20%; /* Adjust the width as needed */
}

.nav-text {
  
  height: 60px;

  display: flex;
  align-items: center;
  cursor: pointer;
}
.nav-title {
  text-decoration: none;
  color: #222020ce;
  font-size: 3vw;
  padding: 0 1rem;
  font-weight: 600;
  text-align: center;
  display: flex;
}

.nav-text li {
  text-decoration: none;
  color: #222020ce;
  font-size: 1rem;
  height: 100%;
  padding: 0 1rem;
  transition: 350ms;
  font-weight: 600;
}

.nav-text:hover {
  background: #e73c3c;
  color: white;
  transition: 150ms;
}
.channels {
  position: flex;

  background-color: #0d6bb8;
  list-style: none;
  
}



.scroller {

  width: 100%; /* Adjust the width as needed */
  background-color: #0d6bb8; /* Adjust as needed */
  
  left: 0;
  color: white;
  /* margin-right: 2em; */
  overflow-y: scroll;
  overflow-x:visible;
}
.p{
  color: white;
  font-size: 3em;
  font-weight: 600;
  margin-bottom: 1em;
}
