@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&family=Poppins&display=swap');

.Signin {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  background-image: url('../../public/images/red.jpg');
  background-size: cover;
  background-repeat: 'no-repeat';
  min-height: 100vh;
  padding: 12px;
}

.Signup {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  background-image: url('../../public/images/pink.jpg');
  background-size: cover;
  background-repeat: 'no-repeat';
  min-height: 100vh;
  padding: 12px;
}

.bird {
  /* margin-top: 0px; */
}

.form {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

.input-box {
  background-color: #f8f9fa;
  width: 500px;
  padding: 70px;
  border: 1px solid #ccc;
}

.error {
  border-color: red;
}

.heading {
  font-size: 25px;
  font-weight: 600;
  margin-bottom: 40px;
}

.write {
  display: block;
  width: 100%;
  margin-top: 15px;
  margin-bottom: 15px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 3px;
  background-color: rgb(231, 236, 248);
}

.submit {
  background-color: #4caf50;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  margin-top: 10px;
  margin-bottom: 30px;
}
